<h1 mat-dialog-title>Trade Add Form</h1>
<div mat-dialog-content>
  <form [formGroup]="tradeForm" (ngSubmit)="saveTrade()" novalidate class="trade-form">
    <div>
      <label>Entry date:</label>
      <input type="date" formControlName="entry_date"/>
    </div>
    <div>
      <label>Exit date:</label>
      <input matInput type="date" formControlName="exit_date"/>
    </div>
    <div>
      <label>Start price:</label>
      <input matInput type="number" formControlName="start_price"/>
    </div>
    <div>
      <label>End price:</label>
      <input matInput type="number" formControlName="end_price"/>
    </div>
    <div>
      <label>Profit:</label>
      <input matInput type="number" readonly formControlName="profit"/>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button *ngIf="data.index === undefined; else elseBlock" mat-raised-button (click)="saveTrade()">
    + Add
  </button>
  <button mat-raised-button (click)="onNoClick()">
    Close
  </button>
</div>
<ng-template #elseBlock>
  <button mat-raised-button (click)="changeTrade()">
    Change
  </button>
</ng-template>
